.TopBar {
    background-color: #818181;
    width: 100%;
    height: 300px;
    z-index: 2;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    top: 0px;
    position: absolute;
    border-color: #000000;
    border-width: thick;
    border-style: outset;
    box-sizing: border-box;
}

.InnerBar {
    width: 100%;
    height: 300px;
    z-index: 3;
    display: flex;
    top: 0px;
    position: absolute;

}

.Button {
    z-index: 2;
    background-color: #c3c3c3;
    width: 60px;
    height: 60px;
    text-align: center;
    transition-duration:0.1s;
    font-size:30px
    
}

    .Button:hover {
        cursor: pointer;
        background-color: #010081;
        color: #fdffff;
    }
