.Title {
	font-size: 60px;
}
.Subtitle {
	font-size: 40px;
	
}
.Text {
	font-size: 30px;

}
.AudioContainer{
	display:flex;
	flex-direction:column;
	justify-content:space-around;

}
.AudioAndText {
	display: flex;
	flex-direction: row;
	
}
.Audio{
	align-self:center;
	padding:10px;	
}