.Main {

    width:100%;
    height:100%;
    position:page;
}
header, p {
    font-family: VCR OSD Mono;
}

@font-face {
    font-family: "VCR OSD Mono";
    src: local("VCR OCD Mono"), url('fonts/VCR OSD mono.ttf'), format('truetype');
}