body {
    margin: 0;
    font-family: VCR OSD Mono;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
    font-family: VCR OSD Mono;
}
code {
    font-family: VCR OSD Mono;
}

@font-face {
    font-family: "VCR OSD Mono";
    src: local("VCR OCD Mono"), url('fonts/VCR OSD mono.ttf'), format('truetype');
}